@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    list-style-type: none !important;
    text-decoration: none !important;
}

:root {
    /* font-size */
    --fs-sm: 16px;
    --fs-1sm: 20px;
    --fs-2sm: 22px;
    --fs-3sm: 24px;
    --fs-md: 35px;
    --fs-2md: 42px;
    --fs-3md: 44px;
    --fs-lg: 62px;

    /* color */
    --color-white: #fff;
    --color-white-2: #fffCF6;
    --color-black-fade: #80765D;
    --color-white-fade: #FFF9E4;
    --color-black: #000;
    --light-black: #3C3C3C;
    --bg-light-black: #242323;
    --white-Grey: #FAFAFA;
    --white-Grey-2: #BAB9B9;
    /* font-famly */
    --ff-montserrat: 'montserrat Alternates';

    /*font-weight*/
    --fw-400: 400;
    --fw-600: 600;

}

.fs-sm {
    font-size: var(--fs-sm);
}

.fs-1sm {
    font-size: var(--fs-1sm);
}

.fs-2sm {
    font-size: var(--fs-2sm);
}

.fs-3sm {
    font-size: var(--fs-3sm);
}

.fs-md {
    font-size: var(fs-1sm);
}

.fs-2md {
    font-size: var(--fs-2md);
}

.fs-3md {
    font-size: var(--fs-3md);
}

.fs-lg {
    font-size: var(--fs-lg);
}

.bg-white-fade {
    color: var(--color-white-fade);
}

.color-white-fade {
    background-color: var(--color-white-fade);
}

.color-white-2 {
    background-color: var(--color-white-2);
}

.white-grey-2 {
    color: var(--white-Grey-2);
}

.custom-container {
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 12px !important;
}


.h-700 {
    height: 700px !important;
    margin-top: auto;
    margin-bottom: auto;
    transform: translateY(-50px);
}

.darkBlack {
    color: var(--Dark-black);
}

.bg-light-black {
    background-color: var(--bg-light-black);
}

.h-722 {
    min-height: 722px;
}

.white-grey {
    color: var(--white-Grey);
}

.max-802 {
    max-width: 802px !important;
}

.color-white {
    color: var(--color-white);
}

.lightblack {
    color: var(--light-black);
}


.color-black {
    color: var(--color-black);
}

.ff-montserrat {
    font-family: var(--ff-montserrat) !important;
}

.fw-400 {
    font-weight: var(--fw-400);
}

.fw-600 {
    font-weight: var(--fw-600);
}

.max-545 {
    max-width: 545px;
}

.mt-27 {
    margin-top: 27px !important;
}

.box-2 {
    cursor: pointer;
    transition: all .3s linear;
    border-radius: 15px;
    border: 1px solid var(--light-black);
}

.home {
    transition: all .3s;
    position: relative;
}

.home::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 0;
    background-color: var(--white-Grey);
    left: 50%;
    top: 30px;
    border-radius: 10px;
    transition: 300ms linear;
}

.home:hover::after {
    width: 100%;
    left: 0%;
}

.circle {
    width: 240px;
    transition: all .3s linear;
    transform: translateY(-40px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    border: 1px solid var(--light-black);
    background: #FFF9E4;
}

.box-2:hover {
    border: 1px solid var(--yellow, #FFCF23);
    background: #FFF9E4;
    box-shadow: 10px 10px 0px 0px #FFCF23;
}

.box-2:hover .circle {
    background: var(--yellow, #FFCF23);
}

.box-2:hover .btn-started {
    border-radius: 5px;
    border: 2px solid #988353;
}

.btn-contact {
    cursor: pointer;
    transition: all .3s ease;
    border-radius: 5px;
    border: 1px solid transparent;
    background: var(--Linear, linear-gradient(125deg, #FFCF23 0%, #FFA723 100%));
    display: flex;
    padding: 16px 30px;
    justify-content: center;
    align-items: center;
}

.btn-contact:hover {
    background: var(--Linear, linear-gradient(125deg, #FFA723 0%, #FFCF23 100%));
    color: var(--color-white);
}

.row ul li a:hover {
    text-decoration: underline !important;
}

.bg-nav {
    background-color: var(--light-black) !important;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.06);
}

.cursor-point {
    cursor: pointer;
}

.mt-100 {
    margin-top: 100px;
}

.max-697 {
    max-width: 697px;
}

.z-7 {
    z-index: 7 !important;
}

.btn-book {
    transition: all .3s;
    display: inline-flex;
    padding: 16px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid var(--BLACK, #3C3C3C);
    background: #FFF9E4;
    box-shadow: 5px 5px 0px 0px #3C3C3C;
}

.btn-book:hover {
    border: 1px solid var(--yellow, #FFCF23);
    box-shadow: 5px 5px 0px 0px #FFCF23;
}

.container-fluid {
    max-width: 1920px !important;
    padding: 0 12px !important;
}

.max-730 {
    max-width: 730px !important;
}

.max-612 {
    max-width: 612px !important;
}

.btn-login {
    display: inline-flex;
    padding: 16px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all .3s ease-in-out;
    border-radius: 5px;
    border: 1px solid var(--WHITE, #FAFAFA);
}

.btn-login:hover {
    background-color: var(--color-black-fade);
}

.span4::after {
    position: relative;
    background-color: #000 !important;
}

#menu span {
    background-image: url("../images/basil_cross-solid.svg");
    height: 4px;
    width: 40px;
    background-color: white;
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 7px;
    z-index: 3;
}

.right-2 {
    right: 2%;
    top: 38%;
}

.span1 {
    rotate: 45deg;
    transition: .4s;
}

.span2 {
    rotate: -45deg;
    top: -10px;
    position: relative;
    transition: .4s;
}

.span3 {
    display: none !important;
}

.span4 {
    transition: .4s;
}

.span5 {
    transition: .4s;
}

.span6 {
    transition: .4s;
}

.img-light {
    right: 0%;
}

.box-1 {
    cursor: pointer;
    transition: all .3s ease;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    align-self: stretch;
    border: 1px solid rgba(255, 255, 255, 0.30);
}

.box-1:hover {
    border-radius: 5px;
    border: 1px solid #FFCF23;
    background: #242323;
    box-shadow: 5px 5px 0px 0px #FFCF23;
}

.btn-started {
    background-color: transparent;
    display: flex;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: 2px solid var(--BLACK, #3C3C3C);
}

.btn-book-call {
    transition: all .3s linear;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 160px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.40);
}

.btn-book-call:hover {
    border-radius: 5px;
    border: 1px solid #FFCF23;
    box-shadow: 5px 5px 0px 0px #FFCF23;
}

.max-351 {
    max-width: 351px;
}

.btn-add {
    transition: all .3s ease-in;
    border: none;
    border-radius: 39px;
    background: rgba(255, 255, 255, 0.20);
}

.btn-add:hover {
    border-radius: 39px;
    box-shadow: 4px 3px 0px 0px #FFCF23;
}

.max-730 {
    max-width: 730px;
}

.yellow {
    color: #FFCF23;
}

.accordion-button::after {
    flex-shrink: 0;
    border: none !important;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    content: "";
    background-image: url("../images/svg-down-arrow.svg") !important;
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
}

.accordion-item {
    color: var(--bs-accordion-color);
    background-color: var(--bs-accordion-bg);
    border: none !important;
}

.mw-800 {
    min-width: 800px;
}

.right-ellipse-light-2 {
    top: 34%;
    right: 0;
}

.pt-456 {
    padding-top: 456px;
}

.accordion-item {
    margin-bottom: 10px;
    color: white;
    background-color: transparent !important;
}

.bb-1 {
    border-bottom: 1px solid #E6E3DD !important;
}

.accordion-button:not(.collapsed) {
    box-shadow: none !important;
    background-color: transparent;
}

.accordion-item:first-of-type .accordion-button {
    background-color: transparent !important;
}

.accordion {
    --bs-accordion-bg: transparent !important;
}

.accordion-body {
    background: transparent;
}

.accordion-button {
    box-shadow: none !important;
    background-color: transparent !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.container-2 {
    max-width: 879px;
    margin: 0 auto;
    padding: 0 12px;
}

.transform {
    transition: all .3s;
}

.transform:hover {
    transform: translateY(-10px);
}

.custom-container2 {
    width: 100%;
}

.slider3-card {
    max-width: 861px;
    border: 1px solid var(--light-black);
    border-radius: 15px;
}

.slick-dots li.slick-active button:before {
    opacity: 100%;
    color: black !important;
    border: 2px solid black;
    border-radius: 25px;
    width: 47px;
    height: 12px;
    margin-right: -63px;
    background-color: black !important;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 10px !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 13px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slider-3 ul {
    display: flex !important;
    justify-content: center !important;
    gap: 23px !important;
    transform: translateX(10px);
}

.slider-2 .slick-active {
    transform: scale(1.1);
}

.slider-2 .slick-track {
    padding-top: 50px;
    padding-bottom: 50px;
}

.slider-2 {
    margin: 0 -15px !important;
}

.slider-2 .slick-slide {
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.slider-3 {
    margin: 0 -15px !important;
}

.slider-3 .slick-slide {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

/* .slider-3 .slick-current.slick-slide.slick-active {
    border-radius: 15px;
    border: 1px solid #FFCF23;
    box-shadow: 0px 5px 5px 0px #FFCF23;
} */

.slider-3 .slick-track {
    padding-bottom: 20px;
}

.slick-dots {
    position: absolute;
    bottom: -40px !important;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 47px !important;
    height: 12px !important;
    content: '•';
    text-align: center;
    opacity: 1.25;
    color: grey !important;
    border: 1px solid grey !important;
    border-radius: 25px;
    background-color: grey !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (min-width:576px) {
    .slider-1 {
        margin: 0 -15px !important;
    }
}

.slider-1 .slick-slide {
    padding: 10px;
    margin-left: 7px;
    margin-right: 7px;
}

@media (min-width:1200px) {
    #menu {
        display: none;
    }
}

@media (min-width:992px) {

    .br-1 {
        border-right: 1px solid #E6E0CD;
    }

}

.max-460 {
    max-width: 460px;
}



@media(max-width:1200px) {
    .mobileView {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        position: fixed;
        z-index: 2;
        width: 400px;
        height: 100%;
        right: -100%;
        transition: all 600ms;
        background: var(--bg-light-black);
    }

    .mobileView.show {
        right: 0;
    }

    nav div ul {
        padding-right: 30px !important;
        padding-left: 30px !important;
    }

    nav div ul li {
        padding-bottom: 16px;
        display: flex;
        border-bottom: 1px solid var(--color-white);
        width: 100%;
        justify-content: center;
    }
}

@media (max-width:768px) {
    .fade-elipse-1 {
        height: 50px;
        width: 50px;
    }

    .accordion-button {
        padding: 12px 0px !important;
    }

    .elipse {
        width: 140px !important;
        height: 130px !important;
    }

    :root {
        /* font-size */
        --fs-sm: 16px;
        --fs-1sm: 18px;
        --fs-2sm: 20px;
        --fs-3sm: 22px;
        --fs-2md: 35px;
        --fs-3md: 36px;
        --fs-lg: 42px;
    }

}

@media (max-width:576px) {
    :root {
        /* font-size */
        --fs-sm: 14px;
        --fs-1sm: 16px;
        --fs-2sm: 22px;
        --fs-3sm: 18px;
        --fs-2md: 32px;
        --fs-3md: 28px;
        --fs-lg: 32px;
    }
}

@media (max-width:476px) {
    .mobileView {
        width: 100%;
    }
}